.git
.idea
.vscode

backend/node_modules
backend/uploads
backend/*.csv

backend-nestjs/node_modules
backend-nestjs/dist
backend-nestjs/data
backend-nestjs/*.log

frontend/node_modules
frontend/build
frontend/.env
frontend/.env.local

skill
