.search-field {
    display: flex;
    align-items: center;
    gap: 10px
}

.search-download-column select {
    font-size: 17px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    letter-spacing: 0.5px;

    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: url('../assets/chevron-compact-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.data-table-container {
    margin: 20px auto;
    max-width: 90vw;
    max-height: 1000px;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination {
    margin-bottom: 100px;
    text-align: center;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    padding: 5px 10px;
  }