#y-label {
  font-size: 11px;
  padding-right: 8px;
}

#x-labels-list {
  font-size: 14px;
}

#heatmap-container {
  display: flex;
  gap: 10px;
}

#heatmap-left {
  width: 100%;
}

#heatmap-right {
  margin-top: 30px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

#PAM {
  margin-top: auto;
  margin-bottom: 0px;
  font: black;
}

.input-group {
  display: flex;
  max-width: 70%;
  margin: auto;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-group button {
  height: 55px;
  width: 120px;
  padding: 0px;
}

.graph-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.loading-container {
  color: #666;
  margin: auto;
  padding: auto;
}

select[multiple] {
  height: auto;
  min-height: 100px;
  width: 100%;
  padding: 5px;
}

.selected-variants-container {
  width: 70%;
  font-size: 15px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.selected-variants {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
}

.variant-chip {
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 0px 10px;
  border-radius: 20px;
}

.variant-chip button {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}